.head{
  width:300px;
  text-align: center;
}

p{
  width:900px;
}

.image{
  height:300px;
  width:400px;
}

@media screen and (max-width:480px){
  p{
    color:green;
    width:100%;
    margin:5px;
  }
  .image{
    width: 100%;
  }
  .head{
    color:brown;
    margin: auto;
    text-align: start;
  }
}

@media screen and (min-width:481px) and (max-width:760px){
  p{
    color:rgb(10, 19, 14);
    width:100%;
    margin:5px;
  }
  .image{
    width: 50%;
  }
  .image-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-self: center;
  }
  .head{
    color:blue;
    text-align: center;
    margin:auto;
  }
}

@media screen and (min-width:761px) and (max-width:1200px){
  p{
    color:blue;
    width:100%;
    margin:5px;
  }
  .image{
    width: 50%;
    height:40%;
  }
  .image-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-self: center;
  }
  .head{
    color:rgb(201, 50, 88);
    text-align: center;
    margin:auto;
  }
}

@media screen and (min-width:1201px){
  p{
    color:gold;
    width:100%;
    margin:5px;
  }
  .image{
    width: 50%;
    height: 40%;
  }
  .image-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-self: center;
  }
  .head{
    color:purple;
    text-align: center;
    margin:auto;

  }
}